.schedule-event{
    display: block;
    max-width: fit-content;
    margin: auto;
    color: brown;
}

#schedule table{
    width: auto;
    position: relative;
}

.schedule-event .DayColumn{
    float: left;
}

.schedule-Column{
    height: 20px;
}